#user-block {
    position: absolute;
    top: 0px;
    right: 0.5em;
    padding: 1em;
    text-align: right;
}

#footer {
    position: absolute;
    bottom: 0px;
    left: 0.5em;
    padding: 0.5em;
}
.communa-color {
    color: #8E1816;
}
a.communa-color:hover {
    color: #4D0908;
}
