{% extends 'main.html' %}

{% block title %}Пароль — &lt;теги&gt;*{% endblock %}

{% block head %}<style>{% include 'me.css' %}</style>
<script>
$(function() {
    var stars = $('#stars'), pass = $('#pass');
    stars.change(function(event) {
        pass.attr('type', stars.prop('checked') ? 'password' : 'text');
    });
});
</script>
{% endblock %}

{% block body -%}

<div id='user-block'>
  <a href='/'>К поиску</a> | <a href='/me'>Профиль</a> | <a href='/log/out'>Выйти</a>
</div>

<div class='container-fluid' style='margin-top: 2em;'>
  <div class='row-fluid'>
    <div class='span6 offset3'>
      <p>Введите свой новый пароль:</p>
      <div class='row-fluid'>
        <div class='span6'>
          <form action='/me/password' method='post'>
            <div class='input-append'>
              <input id='pass' name='password' type='text' autocomplete='off' placeholder='Пароль'>
              <input class='btn' type='submit' value='Установить'>
            </div>
          </form>
        </div>
        <div class='span5 offset1' style='margin-top: 6px;'>
          <label><input id='stars' type='checkbox' style='margin-top: -3px;'> Показывать звёздочки</label>
        </div>
      </div>
      <p><a href='/me' class='btn'>Не менять, вернуться к профилю</a></p>
    </div>
  </div>
</div>

<div id='footer' class='muted'>
  Разработано в <a href='http://com.muna.by/landing/project?tags' class='communa-color'>Коммуне</a>
</div>

{%- endblock %}
